## Capstone EDA

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Dataset sources:

- Indicator table has 20 questions asked in different states all related to diabetes, through the years 2009 - 2018.

- Prevalence table has prevalence for different time periods:

In [31]:
indicator_df = pd.read_csv('./Data/diabetes_indicators.csv')
prevalence_df = pd.read_csv('./Data/diabetes_prevalence.csv')
cali_df = pd.read_csv('./Data/ca-diabetes-per-100.csv')

In [32]:
indicator_df.head(2)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2017,2017,WY,Wyoming,BRFSS,Diabetes,Dilated eye examination among adults aged >= 1...,NaN,%,Crude Prevalence,...,56,DIA,DIA7_0,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1,2017,2017,NJ,New Jersey,BRFSS,Diabetes,Prevalence of diagnosed diabetes among adults ...,NaN,%,Crude Prevalence,...,34,DIA,DIA2_1,CRDPREV,RACE,MRC,NaN,NaN,NaN,NaN

In [33]:
indicator_df.shape

(110251, 34)

In [34]:
indicator_df['YearStart'].value_counts()

2015    15817
2014    14947
2013    14431
2017    13219
2011    13219
2016    12349
2012    12349
2018     9895
2010     3970
2009       55
Name: YearStart, dtype: int64

In [36]:
cali_df.head()

,Geography,Year,Strata,Strata Name,Percent,Lower 95% CL,Upper 95% CL,Standard Error
0,California,2018,Total population,Total population,10.4,8.9,11.9,0.8
1,California,2018,Race-Ethnicity,White,8.4,6.9,9.9,0.8
2,California,2018,Race-Ethnicity,African-American,12.3,6.0,18.6,3.2
3,California,2018,Race-Ethnicity,Asian,8.5,3.2,13.9,2.7
4,California,2018,Race-Ethnicity,Hispanic,12.1,9.0,15.1,1.6

In [37]:
cali_df.shape

(147, 8)

Filter large indicator dataset to only California and use those as X variables, then combine it with the cali_df, making that the y variable.